*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'STIX Two Text', serif;
}

nav {
    background-color: #1c322d;
    font-size: 20px;
}

.hero-image {
    background-image: url("/assets/bg6.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 18%;
    color: #fff;
}

.personal {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

header button {
    background-color: #5a655d;
    border: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

@media screen and (min-width: 460px) {
    .hero-text {
        top: 40%;
        left: 40%;
    }
    nav a.navbar-brand {
        font-size: 30px;
        margin-right: 20rem;
    }
}

@media screen and (min-width: 770px) {
    nav a.navbar-brand {
        margin-right: 51rem;
    }
    nav div ul li.nav-item {
        margin-right: 15px;
    }
    .hero-text {
        top: 35%;
        left: 45%;
    }
    .hero-text :is(h1,
    h2,
    button) {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .personal {
        width: 90px;
        height: 90px;
        margin-bottom: 15px;
    }
    header button {
        padding: 15px;
    }
}


/*About*/

.section {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 65px;
    margin-bottom: 30px;
    padding: 15px;
    border: solid;
    border-color: #1c322d;
    border-width: 1px;
    font-size: 20px;
    box-shadow: 3px 3px #5a655d;
}

.section h1 {
    text-align: center;
    margin-bottom: 15px;
}

.section h3,
.section p {
    margin-bottom: 13px;
}

.section li {
    margin-left: 25px;
}

.red {
    color: #5a655d;
}

hr {
    height: 3px;
    background-color: #5a655d;
}

.scontainer {
    width: 100%;
    background-color: #5a655d;
    border: solid;
    border-width: 1px;
    margin-bottom: 10px;
}

.skill {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}

.html {
    width: 95%;
    background-color: #1c322d;
}

.css {
    width: 80%;
    background-color: #1c322d;
}

.js {
    width: 70%;
    background-color: #1c322d;
}

.ill {
    width: 20%;
    background-color: #1c322d;
}

.matlab {
    width: 80%;
    background-color: #1c322d;
}

.wp {
    width: 40%;
    background-color: #1c322d;
}

@media screen and (min-width: 770px) {
    .section {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 65px;
        padding: 15px;
        border: solid;
        border-color: #1c322d;
        border-width: 1px;
    }
}


/*Portfolio*/

.column {
    padding: 15px;
}

.column img {
    flex: 50%;
    width: 100%;
    margin-bottom: 10px;
    border: solid;
    border-width: 1px;
    border-color: #1c322d;
}

@media screen and (min-width: 770px) {
    .column img {
        width: 100%;
        margin-bottom: 10px;
        border: solid;
        border-width: 1px;
        border-color: #1c322d;
    }
}

#experience img {
    width: 5%;
}